* {
  box-sizing: border-box;
}
*:focus {
  box-shadow: none;
  outline: none;
}
body, html, #root {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  font-family: sans-serif;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
body, #root {
  flex: 1 1 100%;
  order: 1;
}
html{
  height: 100%;
}
